body {
  text-align: center;
  background-color: white;
  font-family: serif;
}

h1,
h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
}

#submit_post {
  font-weight: bold;
  text-align: left;
}

button,
input {
  font-family: serif;
}

.center {
  height: 100px;
  line-height: 100px;
}

.border {
  border: 1px solid black;
}
